.welcomeBanner {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .appTitle {
    color: #2196F3;
    line-height: 10px;

  }