.welcomeBanner {
  background-color: #1c252c;
  color: white;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.appTitle {
  color: #2196f3;
  line-height: 10px;
}
